table#search_option tr td{
	padding: 6px 12px;
	border-bottom: 0px;
	border-left: 0px;
	text-align: left;
}
table#search_option tr{
	background: #fff;
}

table#search_option tr td:last-child {
  border-right: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

table#search_option tr:last-child td {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.mb10{
	margin-bottom:10px;
}

ul.hmenu{
	margin-left: 20px;
}

ul.hmenu .corp:first-child{
	border-left: none;
	padding-left: 3px;
}

ul.hmenu .corp{
	display: inline-block;
	border-left: 1px solid #c7cad3;
	padding: 0 12px 0 12px;
}

ul.hmenu .selected{
   font-weight: bold;
}

ul.corpmenu li{
	margin-top:10px;
}