.searchOptionField {
	margin-left: 30px;
	margin-right: 30px;
	border:solid 1px #dddddd;
	padding:10px;
	border-radius:3px;
	background: #ffffff;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	max-width: 1400px;
	min-width: 1300px;
}

#searchOptionOpen {
	font-size: 20px;
	cursor: pointer;
}

#search_option {
	margin-left: 20px;
}

#search_option tr td {
	padding: 3px;
}

.paging_area {
	margin: 20px 30px 15px 30px;
}

.under_paging_area {
	margin: 1px 30px 100px 30px;
}

.paging_total_top {
	float: left;
	margin-bottom: 20px;
}

.paging_num_top {
	float: left;
	margin-left: 340px;
}

.paging_total_bottom {
	float: left;
}

.paging_num_bottom {
	margin-top: -10px;
	margin-left: 385px;
}

#button_area {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#list_area {
	margin: 20px 30px 25px 30px;
}

/* pager */
ul.pager { margin-top:10px; display:inline-block; margin-left:0; margin-bottom:0; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); }
ul.pager > li { display:inline; }
ul.pager > li a, ul.pager > li span { float:left; padding:6px 12px 4px 12px; line-height:20px; text-decoration:none; background-color:#ffffff; border:1px solid #dddddd; border-left-width:0; }
ul.pager > li > a:hover, ul.pager > .current > a, ul.pager > .current > span { background-color:#f5f5f5; }
ul.pager > .current > a, ul.pager > .current > span { font-weight:bold; cursor:default; }
ul.pager > .disabled > span, ul.pager > .disabled > a, ul.pager > .disabled > a:hover { color:#999999; background-color:transparent; cursor:default; }
ul.pager > li:first-child > a, ul.pager > li:first-child > span { border-left-width:1px; -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px; }
ul.pager > li:last-child > a, ul.pager > li:last-child > span { -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px; }

.td_padding {
	padding-left: 5px;
	padding-right:10px;
}

table.list_table tr.change_color:hover {
  background: #EAF1F5;
  cursor:pointer;
}

.list_table{
width:1500px;;
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}
.list_table th{
padding: 4px;
text-align: center;
color: #FFFFFF;
background: #258;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
vertical-align: middle;
}
.list_table td{
padding: 8px;
/* background-color: #fafafa; */
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
text-align: center;
}

.list_table tr td a {
	text-decoration: none;
}

table.list_table_sale tr.change_color:hover {
  background: #EAF1F5;
  cursor:pointer;
}

.list_table_sale{
width:1500px;
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}
.list_table_sale th{
padding: 4px;
text-align: center;
color: #FFFFFF;
background: #258;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
vertical-align: middle;
}
.list_table_sale td{
padding: 8px;
/* background-color: #fafafa; */
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
text-align: center;
}

.list_table_sale tr td a {
	text-decoration: none;
}

/* table.list_table tr:nth-child(2n+1) { */
/*   background: #f1f6fc; */
/* } */
/* table.list_table tr:last-child td { */
/*   box-shadow: 2px 2px 1px rgba(0,0,0,0.1); */
/* } */
/* table.list_table tr:last-child td:first-child { */
/*   border-radius: 0 0 0 5px; */
/* } */
/* table.list_table tr:last-child td:last-child { */
/*   border-radius: 0 0 5px 0; */
/* } */

#listIndex {
	width: 20px;
	text-align: center;
}

#code {
	width: 85px;
}

#item {
	width: 300px;
}

#warehouse {
	width: 120px;
}

#stock {
	max-width: 60px;
	min-width: 60px;
}

#temporary {
	max-width: 60px;
	min-width: 60px;
}

#orderDate {
	max-width: 80px;
	min-width: 80px;
}

#schedule_date {
	max-width: 80px;
	min-width: 80px;
}

#price {
	width: 100px;
}

#bo_date {
	max-width: 70px;
	min-width: 70px;
}

#memo {
	width: 300px;
}

.buttonArea {
	position: fixed !important;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	background-color: #EEEEEE;
	padding: 10px;
	text-align: center !important;
}

.footer_button {
	display: inline;
	padding-left: 20px;
}

#errorArea {
	width: 700px;
	text-align: center;
	margin: 0 auto;
/* 	padding-bottom: 100px; */
}

.errorMessage {
	color:red;
	font-size: 16px;
}

span.explain {
	color: red;
	font-size: 13px;
}

.rowColor {
	background-color: #FFE4E4;
}

.nowPage {
	color: #000000;
}

.wideCheck {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

select.button_white {
border:1px solid #ADABAB;-webkit-box-shadow: #FEFFFF 0px 1px 3px inset;-moz-box-shadow: #FEFFFF 0px 1px 3px inset; box-shadow: #FEFFFF 0px 1px 3px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:13px;font-family:verdana, sans-serif; padding: 4px 25px 4px 25px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.5);font-weight:bold; color: #262626;
 background-color: #F7F5F6; background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
 background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}

select.button_white:hover{
 border:1px solid #ADABAB;
 background-color: #E0E0E0; background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
 background-image: -webkit-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: -moz-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: -ms-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: -o-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: linear-gradient(to bottom, #E0E0E0, #BDBBBC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#BDBBBC);
}


a.button_pool_white {
border:1px solid #ADABAB;-webkit-box-shadow: #FEFFFF 0px 1px 3px inset;-moz-box-shadow: #FEFFFF 0px 1px 3px inset; box-shadow: #FEFFFF 0px 1px 3px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:13px;font-family:verdana, sans-serif; padding: 4px 25px 4px 25px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.5);font-weight:bold; color: #262626;
 background-color: #F7F5F6; background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
 background-image: -webkit-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: -moz-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: -ms-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: -o-linear-gradient(top, #F7F5F6, #DDDDDD);
 background-image: linear-gradient(to bottom, #F7F5F6, #DDDDDD);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F7F5F6, endColorstr=#DDDDDD);
}

a.button_pool_white:hover{
 border:1px solid #ADABAB;
 background-color: #E0E0E0; background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
 background-image: -webkit-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: -moz-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: -ms-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: -o-linear-gradient(top, #E0E0E0, #BDBBBC);
 background-image: linear-gradient(to bottom, #E0E0E0, #BDBBBC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#BDBBBC);
}

a.button_pool_main{
border-top-color: #26759E;border-right-color: #26759E;border-bottom-color: #26759E;border-left-color: #26759E;border-width: 1px 1px 1px 1px;border-style: solid;-webkit-box-shadow: #FEFFFF 0px 1px 3px inset;-moz-box-shadow: #FEFFFF 0px 1px 3px inset; box-shadow: #FEFFFF 0px 1px 3px inset; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:13px;font-family:verdana, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.5);font-weight:bold; color: #F2F2F2;
 background-color: #0F7BF7; background-image: -webkit-gradient(linear, left top, left bottom, from(#0F7BF7), to(#0747F7));
 background-image: -webkit-linear-gradient(top, #0F7BF7, #0747F7);
 background-image: -moz-linear-gradient(top, #0F7BF7, #0747F7);
 background-image: -ms-linear-gradient(top, #0F7BF7, #0747F7);
 background-image: -o-linear-gradient(top, #0F7BF7, #0747F7);
 background-image: linear-gradient(to bottom, #0F7BF7, #0747F7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0F7BF7, endColorstr=#0747F7);
}

a.button_pool_main:hover{
 border:1px solid #26759E;
 background-color: #0763CC; background-image: -webkit-gradient(linear, left top, left bottom, from(#0763CC), to(#0639C5));
 background-image: -webkit-linear-gradient(top, #0763CC, #0639C5);
 background-image: -moz-linear-gradient(top, #0763CC, #0639C5);
 background-image: -ms-linear-gradient(top, #0763CC, #0639C5);
 background-image: -o-linear-gradient(top, #0763CC, #0639C5);
 background-image: linear-gradient(to bottom, #0763CC, #0639C5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0763CC, endColorstr=#0639C5);
}

select#downloadType {
    width: 180px;
    margin-right: 20px;
}

#orderAlertFlg {
	background-color: #FFE0E0
}

#deliveryAlertFlg {
	background-color: #008000
}


.checkBoxTransForm {
	transform: scale(1.25);
}

a.button_white {
	padding: 5px 35px 5px 35px;
}

a.button_pool_white {
	padding: 5px 5px 5px 5px;
}

#messageArea {
	text-align: left;
	margin-left: 17em;
	margin-bottom: -100px;
	font-weight: bold;
	float: left;
	width: 477px;
}

.registryMessage {
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
}

.registrySuccess {
	background-color: #90EE90;
	padding-left: 10em;
	padding-right: 500px;
}
.registryFailure {
	background-color: #ff9999;
	padding-left: 10em;
    padding-right: 500px;
}

.stockNum {
	width: 62px;
	height: 18px;
	text-align: right;
}

#orderSize {
	width: 80px;
}

#arrival_num_size {
	width: 60px;
}

#carModel {
	width: 100px;
}

#model {
	width: 100px;
}

#allCheck {
	width: 20px;
}

#orderNum {
	width: 75px;
}

#orderPoolBtn {
	width: 140px;
}

div.totalOrderNumArea {
	padding-left: 87em;
}
