#mstTable {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 5em;
}

#leftArea {
	float: left;
	width: 700px;
}

table#setItemDetail {
	margin: 20px 30px 20px 30px;
	width: 650px;
}

table#formItem {
	margin: 0 0 0 30px;
	width: 650px;
}
/*  #mstCorporationListTable { */
/* 	position: relative; */
/* 	margin: 0 auto; */
/* } */
/*  #mstCorporationDetailTable { */
/* 	position: relative; */
/* 	margin: 0 auto; */
/* } */

/*  #mstWarehouseListTable { */
/* 	position: relative; */
/* 	margin: 0 auto; */
/* } */

div.update_detailUserButton {
	position: relative;
	text-align:center;
	padding:20px 0px 0px 0px;
}
div.registry_detailUserButton {
	position: relative;
	text-align:center;
	margin: 20px 0 0 0;
}
div.update_detailCorporetionButton {
	position: relative;
	text-align:center;
	padding:20px 0px 0px 0px;
}
div.registry_detailCorporetionButton {
	position: relative;
	text-align:center;
	margin: 20px 0 0 0;
}
div.update_detailWarehouseButton {
	position: relative;
	text-align:center;
	padding:20px 0px 0px 0px;
}
div.registry_detailWarehouseButton {
	position: relative;
	text-align:center;
	margin: 20px 0 0 0;
}
div.update_detailChannelButton {
	position: relative;
	text-align:center;
	padding:20px 0px 0px 0px;
}
div.registry_detailChannelButton {
	position: relative;
	text-align:center;
	margin: 20px 0 0 0;
}
div.update_detailGroupButton {
	position: relative;
	text-align:center;
	padding:20px 0px 0px 0px;
}
div.registry_detailGroupButton {
	position: relative;
	text-align:center;
	margin: 20px 0 0 0;
}
div.buttonArea {
	position: relative;
	text-align:center;
	padding:10px 0px 0px 0px;
}

td.pulldown {
	background-color: white !important;
	border: none !important;
	box-shadow: none !important;
	padding-bottom: 20px;
}

table th {
  color: #fff;
  padding: 6px 12px;
  background: #258;
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
table tr td {
  padding: 6px 12px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}
table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr {
  background: #fff;
}
table td.authUser {
	background: #f4a460;
}
table tr:nth-child(2n+1) {
  background: #f1f6fc;
}
table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
table.list tr:hover {
  background: #bbd4ee;
  cursor:pointer;
}

#add {
	text-align: right;
	margin: 20px 30px 0 0;
}

.maxWidth {
	width: 520px;
	float: left;
	margin-top: 20px;
}

.blank {
	width: 100%;
	background-color: white;
	box-shadow: none !important;
}

.tabheader table {
  border-collapse: collapse; /* for IE */
  border-spacing: 0; /* for N6 */
  width : 453px;
}

.tabheader table tr td {
	margin:0;
	padding:0;
	border-width:0;
}

.tabheader .close {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #d0d0d0;
  margin:0;
  padding: 0.5em;
  white-space: nowrap;
}

.tabheader .open {
  border-style: solid;
  border-width: 1px;
  border-color: #000 #000 #fff #000;
  background-color: white;
  margin:0;
  padding: 0.5em;
  white-space: nowrap;
}

.tabheader .spc {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #fff #fff #000 #fff;
  margin:0;
  padding: 0.5em;
  white-space: nowrap;
}

.tabbody {
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 1em;
  width : 453px;
  height : 260px;
}