body {
	margin: 0;
}

.headingKind {
	padding: 5px 10px;
	font-size: 1.3em;
	border-left: 20px #cd5c5c groove;
	border-bottom: 1px #333 dotted;
	font-weight: 700;
	width: 180px;
	margin: 60px 20px 20px 20px;
}

#searchOptionField {
	margin-left: 30px;
	margin-right: 30px;
	border:solid 1px #dddddd;
	border-radius:3px;
	background: #ffffff;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	max-width: 1380px;
	min-width: 1380px;
	margin-bottom: 50px;
}

#searchOptionArea table td {
	padding: 5px;
}

#searchOptionOpen {
	font-size: 20px;
	cursor: pointer;
}

#checkBoxTable {
	margin: 10px;
	float: left;
}

#rootTable {
	float: left;
	margin: 10px;
}

#costTable {
	float: left;
	margin: 10px;
	background-color: #FFCCCC;
	border-radius: 10px;
	border: solid 1px #cd5c5c;
}

#orderTable {
	float: left;
	clear: both;
	margin: 10px;
	border-radius: 10px;
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
}

#centerArea {
	float: left;
	margin: 10px;
	width: 400px;
}

#destinationTable {
	border-radius: 10px;
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
}

#deliveryTable {
	margin-bottom: 29px;
	border-radius: 10px;
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
	width: 400px;
}

#itemTable {
	float: left;
	margin: 10px;
	border-radius: 10px;
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
}

#buttonTable {
	float: right;
	margin: 0px 160px 10px 10px;
}

.flgCheck {
	font-weight: bold;
	padding-left: 20px;
}

.arrow {
	padding-left: 20px;
	font-size: 22px;
}

.searchOptionTable {
	margin: 10px;
	width: 95%;
}

.searchOptionTable tr td {
	padding: 3px;
}

#search_sort {
	float:right;
	margin-right:inherit;
}

.middleArea {
	margin: 0px 30px 5px 30px;
	max-width: 1200px;
	min-width: 1200px;
}

.check_ctrl {
	float: left;
}

.allCheck {
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 8px;
}

.allClear{
	cursor: pointer;
	text-decoration: underline;
	text-align: center;
}

.editButtonTable {
	padding: 0px 0px 30px 0px;
	float: right;
	text-align:right;
}

.paging_area {
	margin: 20px 30px 15px 30px;
	max-width: 1410px;
	min-width: 1410px;
	clear: both;
}

.under_paging_area {
	margin: 1px 30px 155px 30px;
	max-width: 1410px;
	min-width: 1410px;
	clear: both;
}

.paging_total_top {
	float: left;
}

.paging_num_top {
	float: left;
	margin-left: 340px;
}

.paging_total_bottom {
	float: left;
	margin-top: -25px;
}

.paging_num_bottom {
	margin-top: -10px;
	margin-left: 385px;
}

#button_area {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-right: 30px;
}

.checkButtonArea {
	float: left;
	margin: 0px 0 5px 28px;
	clear: both;
}

#list_area {
	margin: 20px 30px 50px 30px;
	padding-right: 240px;
	clear: both;
	max-width: 1200px;
	min-width: 1200px;
}


.code_link {
	text-decoration: none;
}


/* pager */
ul.pager { margin-top:0; display:inline-block; margin-left:0; margin-bottom:0; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); }
ul.pager > li { display:inline; }
ul.pager > li a, ul.pager > li span { float:left; padding:6px 12px 4px 12px; line-height:20px; text-decoration:none; background-color:#ffffff; border:1px solid #dddddd; border-left-width:0; }
ul.pager > li > a:hover, ul.pager > .current > a, ul.pager > .current > span { background-color:#f5f5f5; }
ul.pager > .current > a, ul.pager > .current > span { font-weight:bold; cursor:default; }
ul.pager > .disabled > span, ul.pager > .disabled > a, ul.pager > .disabled > a:hover { color:#999999; background-color:transparent; cursor:default; }
ul.pager > li:first-child > a, ul.pager > li:first-child > span { border-left-width:1px; -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px; }
ul.pager > li:last-child > a, ul.pager > li:last-child > span { -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px; }

table.list_table tr.change_color:hover {
  background: #EAF1F5;
  cursor:pointer;
}

/* .list_table{ */
/* width: 100%; */
/* border-collapse: collapse; */
/* border-right: 1px solid #999; */
/* } */
/* .list_table th{ */
/* width: 25%; */
/* padding: 6px; */
/* text-align: left; */
/* vertical-align: top; */
/* color: #fff; */
/* background-color: #555; */
/* border-left: 5px solid #ff6633; */
/* border-top: 1px solid #fff; */
/* } */
/* .list_table td{ */
/* width: 25%; */
/* padding: 6px; */
/* background-color: #fff; */
/* border-bottom: 1px solid #999; */
/* border-left: 1px solid #999; */
/* } */

.list_table{
width:100%;
border-collapse: separate;
border-spacing: 0px;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
/* padding-right: 30px; */
}
.list_table th{
color: #ffffff;
background-color: #8b0000;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
vertical-align: middle;
padding: 8px 0 8px 0;
font-weight: 100;
}
.list_table td{
padding: 4px;
/* background-color: #fafafa; */
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

#summary {
	width: 400px;
	margin-left: 400px;
}

.summary_nm {
	width: 130px;
}

.summary_price {
	text-align: center;
}


table.summary {
  margin-top: -10px;
  margin-bottom: 1em;
  width: 380px;
  border-collapse: separate;
  border-spacing: 2px;
  font-size: 100%;
  float: right;
}

table.summary th,
table.summary td {
  padding: 4px 6px;
}

table.summary th {
  background: #1B3AB4;
  text-align: center;
  white-space: nowrap;
  font-size: 92%;
  color: #FFF;
}

table.summary td {
  background: #E5EAFF;
  text-align: right;
  white-space: nowrap;
}

.buttonArea {
	position: fixed !important;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	background-color: #EEEEEE;
	padding: 10px;
	text-align: center !important;
}

.footer_button {
	display: inline;
	padding-left: 20px;
}

.check {
	width: 20px;
}

.saleSlipNo {
	max-width: 80px;
	min-width: 80px;
}

.corporationNm {
	max-width: 100px;
	min-width: 100px;
}

.shipmentPlanDate {
	max-width: 80px;
	min-width: 80px;
}

.itemCode {
	max-width: 80px;
	min-width: 80px;
}

.itemNm {
	max-width: 210px;
	min-width: 210px;
}

.orderNm {
	max-width: 50px;
	min-width: 50px;
}

.pieceRate {
	max-width: 80px;
	min-width: 80px;
}
.corporationRateOverHd {
	max-width: 80px;
	min-width: 80px;
}

.cost {
	max-width: 100px;
	min-width: 100px;
}

.kindCost {
	max-width: 80px;
	min-width: 80px;
}

.listPrice {
	max-width: 80px;
	min-width: 80px;
}

.itemRateOver {
	max-width: 80px;
	min-width: 80px;
}


/* .reflectHd { */
/* 	max-width: 80px; */
/* 	min-width: 80px; */
/* } */

/* .calcHd { */
/* 	max-width: 100px; */
/* 	min-width: 100px; */
/* } */

.check {
	width: 20px;
}

.textRed {
	color: #C40000;
}

.editRemarks {

}

.boundary {
	background-color: #B0BDCC;
}

.nowPage {
	color: #000000;
}

.greenLabel {
	font-color: green;
}

.blueLabel {
	font-color: blue;
}

.redLabel {
	font-color: red;
}

span.memoColor {
	color: #FF00D6;;
}

.remarksHeight {
	max-height: 80px;
	min-height: 80px;
	overflow: hidden;
}

#errorArea {
	text-align: center;
	margin-top: 50px;
}

.errorMessage {
	color:red;
	font-size: 16px;
}
span.explain {
	color: red;
	font-size: 13px;
}

#list_area input[type=checkbox]{
	transform: scale(2);
    margin: 10px;
}
.slipNoLabel {
	background-color: #FAFAFA;
	border: solid 1px #CECECE;
	border-radius: 10px 0px 0px 10px;
	padding: 10px 0px 10px 0px !important;
	border-width: 1px 0px 1px 1px;
}

.slipNoCheckBoxTd {
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
	border-width: 1px 0px 1px 0px;
}
.slipNoCheckBoxLeftTd {
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
	border-width: 1px 0px 1px 1px;
}

.slipNoNoneCheckBoxTd {
	border: solid 1px #CECECE;
	background-color: #FAFAFA;
	border-radius: 0px 10px 10px 0px;
	border-width: 1px 1px 1px 0px;
}


.button_small_main:focus{
 border:1px solid #26759E;
 background-color: #0763CC; background-image: -webkit-gradient(linear, left top, left bottom, from(#0763CC), to(#0639C5));
 background-image: -webkit-linear-gradient(top, #0763CC, #0639C5);
 background-image: -moz-linear-gradient(top, #0763CC, #0639C5);
 background-image: -ms-linear-gradient(top, #0763CC, #0639C5);
 background-image: -o-linear-gradient(top, #0763CC, #0639C5);
 background-image: linear-gradient(to bottom, #0763CC, #0639C5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0763CC, endColorstr=#0639C5);
}

.tdButton {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
}
