
body {
	width: 1600px;
}

.headingDetailReg {
	padding: 5px 10px;
	font-size: 1.3em;
	border-left: 20px #2ca9e1 groove;
	border-bottom: 1px #333 dotted;
	font-weight: 700;
	width: 180px;
	margin: 60px 20px 20px 20px;
}

.headingDetail {
	padding: 5px 10px;
	font-size: 1.3em;
	border-left: 20px #2ca9e1 groove;
	border-bottom: 1px #333 dotted;
	font-weight: 700;
	width: 490px;
	margin: 60px 20px 20px 20px;
}

.explainLabel {
	color: #FF0B0B;
}

#leftArea {
	width: 550px;
	padding: 20px 50px 70px 40px;
	float: left;
}

#detailArea {
	width: 550px;
}

.totalNumLabel {
	font-size: 20px;
}

#warehouseArea {
	width: 550px;
	margin-top: 20px;
}

#deadStockArea {
	width: 550px;
	margin-top: 20px;
}

#fileArea {
	margin: 20px;
	width: 600px;
}

#formItem {
    width: 935px;
}

.formItemTable {
	width: 890px;
    margin: 20px;
}

#lastUpdateDetail {
	margin-top: 10px;
	width: 550px;
}

#specMemoArea {
	margin-top: 20px;
	width: 550px;
}

.tdPdg {
	padding: 10px 0 10px 0;
}

#scheduleDate {
	padding: 20px;
	width: 1100px;
}

#recordTable {
	padding: 20px;
	width: 560px;
}

#priceInf {
	min-width: 810px;
}

.costList {
	padding: 20px;
	float: left;
	max-width: 409px;
}

.priceList {
	padding: 20px 20px 20px 0;
	max-width: 430px;
}

.priceTable {
	margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#keep {
	width: 830px;
}


#keepTable {
	margin: 20px;
}

#schedule {
	width: 1100px;
}

.poNoSize {
	width: 70px;
}

#record {
	width: 791px;
}

#backOrder {
	width: 815px;
	margin-right: 30px;
}


#boTable {
	padding: 20px 20px 0px 20px;
	max-width: 820px;
}

#addBackOrderArea {
	padding: 20px 20px 20px 20px;
	max-width: 820px;
}

#manual {
	width: 791px;
	margin-right: 30px;
}

.button_file{
border:0px solid #2647ee; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:15px;font-family:courier new, courier, monospace; padding: 9px 50px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
color: #FFFFFF;
 background-color: #5A73F2; background-image: -webkit-gradient(linear, left top, left bottom, from(#5A73F2), to(#0D28B3));
 background-image: -webkit-linear-gradient(top, #5A73F2, #0D28B3);
 background-image: -moz-linear-gradient(top, #5A73F2, #0D28B3);
 background-image: -ms-linear-gradient(top, #5A73F2, #0D28B3);
 background-image: -o-linear-gradient(top, #5A73F2, #0D28B3);
 white-space: nowrap;
 background-image: linear-gradient(to bottom, #5A73F2, #0D28B3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5A73F2, endColorstr=#0D28B3);
}

.button_file:hover{
 border:0px solid #1131d5;
 background-color: #2b4bee; background-image: -webkit-gradient(linear, left top, left bottom, from(#2b4bee), to(#0a1d83));
 background-image: -webkit-linear-gradient(top, #2b4bee, #0a1d83);
 background-image: -moz-linear-gradient(top, #2b4bee, #0a1d83);
 background-image: -ms-linear-gradient(top, #2b4bee, #0a1d83);
 background-image: -o-linear-gradient(top, #2b4bee, #0a1d83);
 background-image: linear-gradient(to bottom, #2b4bee, #0a1d83);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2b4bee, endColorstr=#0a1d83);
}

.wTdButton {
	max-width: 70px;
	min-width: 70px;
}

table th {
  color: #fff;
  padding: 6px 8px;
  background: #258;
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
/* table th:first-child { */
/*   border-radius: 5px 0 0 0; */
/* } */
/* table th:last-child { */
/*   border-radius:0 5px 0 0; */
/*   border-right:1px solid #258; */
/*   box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset; */
/* } */
table tr td {
  padding: 6px 8px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}
table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr {
  background: #fff;
}
/* table tr:nth-child(2n+1) { */
/*   background: #f1f6fc; */
/* } */
/* table tr:last-child td { */
/*   box-shadow: 2px 2px 1px rgba(0,0,0,0.1); */
/* } */
/* table tr:last-child td:first-child { */
/*   border-radius: 0 0 0 5px; */
/* } */
/* table tr:last-child td:last-child { */
/*   border-radius: 0 0 5px 0; */
/* } */

#rightArea {
	max-width: 928px;
    min-width: 800px;
    margin: 15px 10px 10px 0px;
    border-radius: 8px;
    padding: 10px 10px 100px 10px;
    float: left;
}

#rightArea li{
	width:120px;
	display:inline-block;
	padding:5px;
	background-color:#C0C0C0;
	color:#000000;
	border-style:solid;
	border-width:1px 1px 0 1px;
	border-color:gray;
	border-radius:5px 5px 0 0;
	cursor: pointer;
	text-align: center;
}
#rightArea li a{
	display:inline-block;
	text-decoration:none;
}

#rightArea li span{
	font-size: 18px;
}

#rightArea li:hover,
#rightArea .active{
	background:#FFFFFF;
}

#rightArea > div{
	border:solid 1px gray;
	border-radius:0 5px 5px 5px;
}

.sPlanning {
	position: fixed !important;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	background-color: #EEEEEE;
	padding: 10px;
	text-align: center !important;
}

.memo {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.footer_button {
	display: inline;
	padding-left: 20px;
}


#messageArea {
	text-align: left;
	margin-left: 38em;
	margin-bottom: -100px;
	font-weight: bold;
	float: left;
}

.registryMessage {
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
}

.registrySuccess {
	background-color: #90EE90;
	padding-left: 10em;
	padding-right: 491px;
	width: 130px;

}

.registryFailure {
	background-color: #ff9999;
	padding-left: 10em;
	padding-right: 565px;
	width: 206px;

}


#makerNm {
	width: 400px;
}

.titleSize {
	width: 62px;
}
.textareaSize {
	width: 102px;
}

.autoCalcSize {
	margin-bottom: 1em;
	margin-left: 21px;
}

.arrivalSizeOrder {
	width: 100px;
}

.arrivalSizeDate {
	width: 135px;
}

.arrivalSizeNum {
	width: 70px;
}

.arrivalBtnSize {
	width: 110px;
}



.arrivalSizeDateText {
	width: 210px;
}