<?xml version="1.0" encoding="UTF-8"?>
<web-app id="IRRIC_CDB" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>kts</display-name>
	<servlet>
		<description></description>
		<display-name>struts action</display-name>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<description></description>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>chainConfig</param-name>
			<param-value>org/apache/struts/tiles/chain-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://cleave.keyaki.co.jp/fw</taglib-uri>
			<taglib-location>/WEB-INF/tlds/fw.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<is-xml>false</is-xml>
			<include-prelude>/WEB-INF/page/define/define-runtime.jsp</include-prelude>
			<include-coda></include-coda>
		</jsp-property-group>
	</jsp-config>
	<filter>
		<display-name>CharactorEncodingFilter</display-name>
		<filter-name>CharactorEncodingFilter</filter-name>
		<filter-class>jp.co.keyaki.cleave.fw.ui.web.filter.CharactorEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharactorEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>Log4JSettingFilter</display-name>
		<filter-name>Log4JSettingFilter</filter-name>
		<filter-class>jp.co.keyaki.cleave.fw.ui.web.filter.Log4JSettingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Log4JSettingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>ActionContextFilter</display-name>
		<filter-name>ActionContextFilter</filter-name>
		<filter-class>jp.co.keyaki.cleave.fw.ui.web.filter.ActionContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ActionContextFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>TransactionFilter</display-name>
		<filter-name>TransactionFilter</filter-name>
		<filter-class>jp.co.keyaki.cleave.fw.ui.web.filter.TransactionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TransactionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>RequestDebugFilter</display-name>
		<filter-name>RequestDebugFilter</filter-name>
		<filter-class>jp.co.keyaki.cleave.fw.ui.web.filter.RequestDebugFilter</filter-class>
		<init-param>
			<description></description>
			<param-name>requestWrap</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RequestDebugFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
</web-app>
